<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a [routerLink]="['home']" class="navbar-brand"><b>Admin</b>LTE</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a [routerLink]="['home']">
              Home
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['usuario']">
              Usuários
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['historico']">
              Histórico de Vendas
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
