<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Formulário de Usuário</h3>
      </div>
      <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
        <div class="box-body">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" formControlName="nome" placeholder="Informe o nome">
          </div>
        </div>
        <div class="box-footer text-right">
          <a [routerLink]="['/admin/usuario']">
            <button type="button" class="btn btn-link">Voltar</button>
          </a>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
